.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.naverDeleteContainer {
  background-color: var(--white);
  width: 592px;
  height: 233px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.naverDeleteContainer span:first-child {
  font-size: 24px;
  font-weight: 600;
}

.naverDeleteContainer span:last-child {
  margin-top: 1.2rem;
}

.options {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
}

.options button {
  height: 2.5rem;
  width: 11rem;
  margin-left: 20px;
  border: 1px solid var(--dark);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.options button:first-child {
  background-color: transparent;
}

.options button:last-child {
  background-color: var(--dark);
  color: var(--white);
}